beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.8
cryptography==44.0.2
Flask==3.1.0
flask-cors==5.0.1
flask-marshmallow==1.2.1
Flask-SQLAlchemy==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
marshmallow==3.23.1
marshmallow-sqlalchemy==1.1.0
mysql-connector-python==9.2.0
numpy==2.2.4
packaging==24.2
pyarrow==19.0.1
pycparser==2.22
pylance==0.24.1
PyMySQL==1.1.1
python-dotenv==1.1.0
requests==2.32.3
soupsieve==2.6
SQLAlchemy==2.0.36
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.1.3
