.venv
/.venv
env/
venv/
__pycache__/
*.pyc
*.pyo
.env

instance/
*.db
*.sqlite3

*.env
*.flaskenv
*.ini

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# macOS specific
.DS_Store

*.log

.coverage
.coverage.*

.python-version

.cache

test.py
